.nav{
    background: transparent;
    
}
/* Inicio jumbotron */
.jumbotron {
    background: black;
    background-size: cover;
    height: 125vh;
    overflow: hidden;
    color: #eee;
    margin-top: -200px
}
.jumbotron h1{
margin-top: 300px;
}
/* Fim jumbotron */