.nav{
    background: transparent;
    
}
/* Inicio jumbotron */
.jumbotron {
    background: black;
    background-size: cover;
    height: 127vh;
    overflow: hidden;
    color: #eee;
    margin-top: -245px
}
.jumbotron h1{
margin-top: 55vh;
}
/* Fim jumbotron */